/* padding 内边距; margin 外边距*/
*{padding:0;margin: 0}
/*块级标签*/
p,h1,h2,h3,h4,h5,h6{font-size: 14px;font-weight: normal;}
a{text-decoration: none;color:#333;}
li{list-style: none}
.l{float: left}
.r{float: right;}

.top{height: 30%;width: 100%;margin-top: 2px;background: darkgrey;color: white;padding: 1.5em}
.logo{margin-left: 6%;border: 2px black;height: 28px;width: 32px;}
.bottom{position: absolute;height: 5%;width: 100%;bottom: 2px;background: darkgrey;color: white;padding: 1.5em}

.left{width: 60%;height: auto}
.right{width: 40%;height: auto}